<footer>
  <div class="container-fluid" id="copy">
    <div class="col-sm-12">
      <a href="https://github.com" class="git"><img src="/images/github-small.png"></a>
      <a href="mailto:twitlitics@gmail.com" class="ot"><img src="/images/mail-small.png"></a>
      <br>
      <div class="twitlitics">© Twitlitics 2017</div>
    </div>
  </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</body>
</html>
