/* GLOBAL */

body {
  font-family: 'Raleway', sans-serif;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

html {
  position: relative;
  min-height: 100%;
  max-width: 100%;
}

h1 {
  text-transform: uppercase;
  color: #05A8F5;
  color: grey;
  text-align: center;
}

h2 {
  color: #05A8F5;
  text-align: center;
}

.btn .btn-info .btn-lg {
  border-radius: 0;
  background-color: lightgrey;
  border-color: lightgrey;
}

.btn .btn-primary .btn-lg {
  border-radius: 0;
  background-color: lightgrey;
  border-color: lightgrey;
}

body > div > div > form > button {
  border-radius: 0;
  background-color: lightgrey;
  border-color: lightgrey;
}

/* NAVBAR */

.navbar-custom {
    color: white;
    background-color: black;
    opacity: .8;
}

.navbar .nav > li > a {
  color: white;
}

.navbar .nav > li > a:hover {
  text-decoration: none;
  color: #05A8F5;
}

/* FOOTER */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
}

.title {
  color: black;
}

.git {
  margin-right: 2px;
}

.ot {
  margin-left: 2px;
}

.col-sm-12 {
  bottom: 0px;
  margin-top: 55px;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
}

#copy {
  text-align: center;
  background: black;
  height: 100px;
  color: white;
  opacity: .8;
}

/* BLOG COLUMNS */

.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;
  opacity: .7;
  width: 300px;
  height: 200px;
  margin: 20px 10px;
}

.form-control, .btn {
  border-radius: 0;
}

.twitlitics {
  margin-top: 5px;
}

.headline {
  background: lightgrey;
  width: 100%;
  height: 100px;
}

.jumbotron {
  border-radius: 0px;
}

.col-sm-3 {
  height: 400px;
  text-align: center;
  margin-top: 60px;
}

.container {
  text-align: center;
  width: 100%;
}

col-sm-6 {
  margin-bottom: 20px;
  padding-bottom: 100px;
}

/* LINKS */

a {
  color: black;
  display: inline-block;
}

body > div > div.jumbotron.jumbotron-fluid {
  border-radius: 0;
}

a:hover {
  text-decoration: none;
  color: #05A8F5;
}

body > div > div > form > div:nth-child(3) > input {
  background-color: white;
}

.featured {
  list-style: none;
  font-size: 18px;
  padding-right: 30px;
}

.pic {
  background: none;
  opacity: .5
  }

.display-3 {
  margin-bottom: 1px;
}

.pictag {
  margin-top: 20px;
  font-size: 20px;
}

.retweet {
  list-style: none;
  margin: auto;
}

.related {
  list-style: none;
  margin: auto;
}

body > div.container > div > div.col-sm-6.blog {
  padding-right: 65px;
  padding-left: 65px;

}

body > div.container > div > div.col-sm-6.projects {
  padding-right: 65px;
  padding-left: 65px;
}

#retweet-list {
  margin-left: -25px;
}

.related {
  margin-left: -15px;
  margin-top: 5px;
}

.hashtags-list {
  list-style: none;
}

#tweet-volume-list {
  margin-left: -30px;
}

#favorites-list {
  list-style: none;
  margin-right: 30px;
}

body > div.container.box {
  padding-right: 300px;
  padding-left: 300px;
}

#users-top-tweets {
  margin-right: 50px;
}
