<% include ../partials/header %>

<div class="container">
  <div class="row">
    <!-- multiple columns -->
  </div><!-- closing .row -->
  <h2>FAVORITES</h2>
  <input type="text" id="favorite-input">
  <button type="button" class="button" id="add-favorite">Add Favorite</button>

  <ul id='favorites-list'>
    <% user.local.favorite.forEach(function(f) { %>
      <li id="<%= f._id %>">
        <span><%= f.name %></span>
        <button class="edit">Edit</button>
        <button class="delete">X</button>
      </li>
    <% }) %>
  </ul>

  <script type="text/javascript">
    var $favoritesList = $('#favorites-list')
    var $favoritesInput = $('#favorite-input')
    var $addFavorite = $('#add-favorite')

    // event delegation for the delete favorites button
    $favoritesList.on('click', 'li button.delete', function() {
      var id = $(this).parent().attr('id')
      var requestSettings = {
        method: 'delete',
        url: '/#/:id/favorites/' + id
      }
      $.ajax(requestSettings).done(function(d) {
        $('#' + id).remove()
      })
    })

    // event delegation for the edit favorites button
    $favoritesList.on('click', 'li button.edit', function() {
      $(this).parent().append(editForm)
      editForm.slideDown()
      $('.edit-input').val($(this).prev().text())
    })

    // event listener to add a favorites
    $addFavorite.on('click', function() {
      var requestSettings = {
        method: 'post',
        url: '/favorites',
        data: JSON.stringify({
          name: $favoritesInput.val()
        }), contentType: 'application/json'
      }
      $.ajax(requestSettings).done(function(user) {
        var newFavorite = user.local.favorite
        appendFavorite(newFavorite)
      })
    })

    // function to append a new favorite to the favorites list
    function appendFavorite(favorite) {
      $favoritesList.html('')
      favorite.forEach(function(f) {
        var theLi = $('<li>').attr('id', f._id)
        theLi.html(`<span>${f.name}</span>`)

        var editButton = $('<button>').addClass('edit')
        editButton.text('Edit')
        theLi.append(editButton)

        var deleteButton = $('<button>').addClass('delete')
        deleteButton.text('X')
        theLi.append(deleteButton)
        $favoritesList.append(theLi)
      })
    }

    // edit favorites form
    var editForm = $('<div>').attr('id', 'edit-form')
    editForm.append('<input type="text" class="edit-input">')
    editForm.append('<button class="button">Update</button>')
    editForm.hide()

    // event listener for the update favorites button
    $favoritesList.on('click', '#edit-form button', function() {
      var fav_id = $(this).parent().parent().attr('id')
      var updatedFavorite = $(this).prev().val()
      var requestSettings = {
        method: 'patch',
        url: `/#/:id/favorites/${fav_id}`,
        data: JSON.stringify({
          name: updatedFavorite
        }), contentType: 'application/json'
      }
      $.ajax(requestSettings).done(function(d) {
        if (d.success) {
          $(`#${id} span`).text(d.updatedTask.body)
          editForm.slideUp()
        }
      })
    })

  </script>

  <div class="row">
    <!-- multiple columns -->
  </div><!-- closing .row -->
</div><!-- closing .container -->

<% include ../partials/footer %>
