<% include ../partials/header %>

  <h2>FEATURED USERS</h2>

<div class="row">
    <div class="col-md-2 col-md-offset-1"><a href="/search/Donald Trump">Donald Trump</a></div>
    <div class="col-md-2"><a href="/search/Katy Perry">Katy Perry</a></div>
    <div class="col-md-2"><a href="/search/Barack Obama">Barack Obama</a></div>
    <div class="col-md-2"><a href="/search/Justin Timberlake">Justin Timberlake</a></div>
    <div class="col-md-2"><a href="/search/Rihanna">Rihanna</a></div>
</div>

<div class="row">
    <div class="col-md-2 col-md-offset-1"><a href="/tweets">Lady Gaga</a></div>
    <div class="col-md-2"><a href="/search/Britney Spears">Britney Spears</a></div>
    <div class="col-md-2"><a href="/search/Kim Kardashian">Kim Kardashian</a></div>
    <div class="col-md-2"><a href="/search/Taylor Swift">Taylor Swift</a></div>
    <div class="col-md-2"><a href="/search/Ariana Grande">Ariana Grande</a></div>
</div>

<% include ../partials/footer %>
