<% include ../partials/header %>


<div class="container">
  <div class="row">
    <!-- multiple columns -->
  </div><!-- closing .row -->

  <h2>FEATURED USERS</h2>
  <p>Actual content goes here. It will span the full width.</p>

  <div class="row">
    <!-- multiple columns -->
  </div><!-- closing .row -->
</div><!-- closing .container -->

<% include ../partials/footer %>
