<% include ../partials/header %>

  <h2>FEATURED USERS</h2>

<div class="row">
    <div class="col-md-2 col-md-offset-1"><a href="/featured">Donald Trump</a></div>
    <div class="col-md-2"><a href="/tweets">Katy Perry</a></div>
    <div class="col-md-2"><a href="/hashtags">Barack Obama</a></div>
    <div class="col-md-2"><a href="/hashtags">Justin Timberlake</a></div>
    <div class="col-md-2"><a href="/featured">Rihanna</a></div>
</div>

<div class="row">
    <div class="col-md-2 col-md-offset-1"><a href="/tweets">Lady Gaga</a></div>
    <div class="col-md-2"><a href="/featured">Britney Spears</a></div>
    <div class="col-md-2"><a href="/tweets">Kim Kardashian</a></div>
    <div class="col-md-2"><a href="/hashtags">Taylor Swift</a></div>
    <div class="col-md-2"><a href="/hashtags">Ariana Grande</a></div>
</div>

<% include ../partials/footer %>
