<% include ../partials/header %>


<div class="container">
  <div class="row">
    <!-- multiple columns -->
  </div><!-- closing .row -->

  <h2>TOP HASHTAGS</h2>
    <ul style="list-style: none;" id="tweet-volume-list">

    </ul>


  <div class="row">
    <!-- multiple columns -->
  </div><!-- closing .row -->
</div><!-- closing .container -->

<script type="text/javascript">
  var retrievedData = <%- JSON.stringify(data[0]) %>
  var $searchList = $('#tweet-volume-list')

  retrievedData.trends.sort(function(a, b) {
    return parseFloat(b.tweet_volume) - parseFloat(a.tweet_volume)
  })

  retrievedData.trends.forEach(function(f) {
    if(f.tweet_volume != null) {
      var $theLi = $('<li><br>')
      $theLi.append(`<span>${f.tweet_volume} </span>`)
      $theLi.append(`<span><a href="${f.url}">${f.name}</a></span>`)
      $searchList.append($theLi)
    }
  })
</script>

<% include ../partials/footer %>
