<% include ../partials/header %>


<div class="container">
  <div class="row-centered">

  <h2>TOP HASHTAGS</h2>
    <ul style="list-style: none;" id="tweet-volume-list">

<script type="text/javascript">
  var retrievedData = <%- JSON.stringify(data[0]) %>
  var $searchList = $('#tweet-volume-list')

  retrievedData.trends.sort(function(a, b) {
    return parseFloat(b.tweet_volume) - parseFloat(a.tweet_volume)
  })

  retrievedData.trends.forEach(function(f) {
    if(f.tweet_volume != null) {
      var $theLi = $('<li><br>')
      $theLi.append(`<h1><span>${f.tweet_volume} </span></h1>`)
      $theLi.append(`<span><b><a href="/search/${f.name}">${f.name}</a></b></span>`)
      $searchList.append($theLi)
    }
  })
</script>

    </ul>
  </div>
</div>


<% include ../partials/footer %>
