<% include ../partials/header %>

<body>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <a href="/users/<%= currentUser.id %>/favorites"><p class="button">FAVORITES</a></p>
      </div>
      <div class="col-sm-3">
        <a href="featured"><p class="button">FEATURED USERS</a></p>
      </div>
      <div class="col-sm-3">
        <a href="tweets"><p class="button">TOP TWEETS</a></p>
      </div>
      <div class="col-sm-3">
        <a href="hashtags"><p class="button">TOP HASHTAGS</a></p>
      </div>
    </div>
  </div>

<% include ../partials/footer %>
