<% include header %>

<body>
  <div class="jumbotron jumbotron-fluid">
<div class="container">
  <h1 class="display-3">Username</h1>
  <p class="lead">I'm a badass</p>
</div>
</div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <a href="favorites.html"><p class="button">FAVORITES</a></p>
      </div>
      <div class="col-sm-3">
        <a href="featured.html"><p class="button">FEATURED USERS</a></p>
      </div>
      <div class="col-sm-3">
        <a href="tweets.html"><p class="button">TOP TWEETS</a></p>
      </div>
      <div class="col-sm-3">
        <a href="hashtags.html"><p class="button">TOP HASHTAGS</a></p>
      </div>
    </div>
  </div>

<% include footer %>
