<% include ../partials/header %>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="well">

            <h3>My Profile</h3>

            <p>
                <strong>Name</strong>: <%= user.local.name %><br>
                <strong>Email</strong>: <%= user.local.email %><br>
            </p>

              <button id="user-edit" type="button" name="button" class="btn-success"><a href="/users/<%= currentUser.id %>/edit" style="color:white;">Edit Information</a></button>
              <button id="user-delete" type="button" name="button" class="btn-danger" style="color:white;">Delete Profile</button>

        </div>
    </div>
</div>

<script type="text/javascript">

  var $userEdit = $('#user-edit')
  var $userDelete = $('#user-delete')
  var currentUser = <%- JSON.stringify(currentUser) %>

  $userDelete.on('click', function() {
    var confirmation = confirm("Are you sure you want to delete your account?")

    if(confirmation) {
      var requestSettings = {
        method: 'delete',
        url: `/users/${currentUser._id}`
      }
      $.ajax(requestSettings).done(function(data) {
        console.log(data)
        window.location.href = '/'
      })
    }
  })

</script>

<% include ../partials/footer %>
