<% include ../partials/header %>

<div class="container">
  <div class="row">
    <h2><%= favorite.name %></h2>
    <div class="col-sm-6 blog">
      <h2>RELATED POSTS</h2>
      <ul>
        <% data.statuses.forEach(function(f) { %>
          <li>
            <span><%= f.text %></span>
          </li>
        <% }) %>
      </ul>
    </div>
    
    <div class="col-sm-6 projects">
      <h2>MOST RETWEETED</h2>
      <ul>
        <% data.statuses.forEach(function(f) { %>
          <li>
            <% if(f.retweet_count > 0) { %>
              <span><%= f.retweet_count %></span>
              <span><%= f.text %></span>
            <% } else { %>
            <% } %>
          </li>
        <% }) %>
      </ul>
    </div>
  </div>
</div>

  <div class="row">
    <!-- multiple columns -->
  </div><!-- closing .row -->
</div><!-- closing .container -->

<% include ../partials/footer %>
